// colours
$colour-white: #fff;
$colour-black: #2b292d;
$colour-blue: #0135EB;
$colour-dark-blue: #1E306E;
$colour-grey: #98A2AB;
$colour-light-grey: #CBDAE6;

// fonts
$font-family: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 900;
