// colours
$colour-black: #2b292d;
$color-blue: #0135EB;
$color-grey: #98A2AB;
$color-light-grey: #CBDAE6;

// fonts
$font-family: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
