@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$colour-black: #2B292D;
$colour-white: #FFF;
$colour-blue: #1732FF;
$colour-grey: #6D7278;
$colour-pastel-orange: #FFF8E4;
$colour-pastel-green: #DAFFF7;

$font-family: 'Roboto', sans-serif;
$font-weight--regular: 400;
$font-weight--bold: 500;