@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

// colour
$colour-black: #2B292D;
$colour-white: #FFF;
$colour-blue: #1732FF;
$colour-dark-blue: #00c;
$colour-grey: #6D7278;
$colour-pastel-orange: #FFF8E4;
$colour-pastel-green: #DAFFF7;

// font
$font-family: 'Roboto', sans-serif;
$font-weight--regular: 400;
$font-weight--bold: 500;

// breakpoints
$grid-breakpoint-sm: 480px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 1024px;

