.btn {
  padding: 1.25rem 2rem; // 20px 32px
  font-size: 1rem;
  border: 0;
  border: 1px solid $colour-grey;
  border-radius: 0.25rem; // 4px
  width: 100%;
  cursor: pointer;
}

.btn-primary {
  background-color: $colour-blue;
  border-color: $colour-blue;
  color: $colour-white;

  &:hover {
    background-color: $colour-dark-blue;
    border-color: $colour-dark-blue;
  }
}
