.form {
  position: relative;
  display: flex;
  align-items: center;
  button {
    padding: 1.2rem;
    border: 2px solid $colour-white;
    background-color: transparent;
    color: $colour-white;
    margin-top: 8px;
    position: absolute;
    right: 0;
  }
}

.form-group {
  width: 100%;
}

.form-control {
  border-radius: 0;
  border: 2px solid $colour-white;
  padding: 2rem;
  background-color: transparent;

  &::placeholder {
    color: $colour-white;
  }
}