.input {
  padding: 1.25rem 2rem; // 20px 32px
  border-radius: 0.25rem; // 4px
  border: 1px solid $colour-grey;
  width: 100%;
  margin-bottom: 24px;
}

.waitlist-label {
  font-weight: $font-weight--bold;
  margin-bottom: 1rem;
  display: block;
}