.jumbotron {
  background-color: $colour-white;
  padding-left: 0;
  padding-right: 0;

  .lead {
    margin-bottom: 2.5rem;
  }
}

.display-4 {
  font-weight: $font-weight-bold;
  font-size: 4.5rem;
}