.navbar {
  padding-top: 2rem;

  a {
    color: $colour-white;
    font-weight: $font-weight-regular;

    &.navbar-brand {
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
    }

    &.nav-link {
      color: $colour-white;
      font-weight: $font-weight-regular;
    }
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-light {
  background-color: $colour-white;
}